<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.markvika.vozniredi" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
			android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SZMainActivity"
			android:screenOrientation="portrait"
            android:label="@string/title_activity_szmain" >
        </activity>
        <activity
            android:name=".SZResultActivity"
			android:screenOrientation="portrait"
            android:label="@string/title_activity_szresult" >
        </activity>
        <activity
            android:name=".LPPMainActivity"
            android:label="@string/title_activity_lppmain"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".LPPRezultatiMainActivity"
            android:label="@string/title_activity_lpprezultatimain"
            android:parentActivityName=".LPPMainActivity">
        </activity>
        <activity
            android:name=".LPPPriljubljeniActivity"
            android:label="@string/title_activity_lpppriljubljeni"
            android:parentActivityName=".LPPMainActivity">
        </activity>
        <activity
            android:name=".Avtorja"
            android:label="@string/title_activity_avtorja"
            android:parentActivityName=".MainActivity">
        </activity>
    </application>

</manifest>
